<div class="container formNuevaReunion">
    <h3 style="text-align: center;">Acta para la reunión del equipo: {{serieReunion.equipo}} - {{serieReunion.nombre}}</h3>
    <br>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="nuevaActaForm" #reunionform="ngForm" (ngSubmit)="generarActa(nuevaActaForm)" method="POST">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" class="form-control col-sm-3" formControlName="fecha" id="fecha" placeholder="Fecha...">
                        </div>
                        <div class="form-group">
                            <label for="asistentes">Marcar asistentes</label>
                            <select multiple class="form-control col-sm-5" formControlName="asistentes" id="asistentes">
                                <option *ngFor="let user of usuarios" value="{{user.codUsu}}">
                                    {{user.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div *ngIf="!existeTema">
                    <h3>Temas</h3>
                    <p>No hay temas para esta reunión.</p>
                </div>
                <div *ngIf="existeTema">
                    <h3>Temas</h3>
                    <br>
                    <div *ngFor="let tem of temas">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="card-title">{{tem.titulo}} <span>*{{tem.etiqueta}}*</span></h4>
                                    </div>
                                    <div class="col">
                                        <div class="dropdown">
                                            <button type="button" class="boton2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div *ngIf="us.isUserAdminAndJefe()">
                                                    <a class="dropdown-item" (click)="cerrarTemas(tem.codTema)">Cerrar tema</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tem.info !== null">
                                    <p>{{tem.info}}</p>
                                </div>
                                <div *ngIf="tem.decision !== null">
                                    <hr>
                                    <b>Decisión:</b>
                                    <p>{{tem.decision}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div *ngIf="existeTemaAntiguo">
                    <h4>Temas antiguos no cerrados</h4>
                    <br>
                    <div *ngFor="let tem of temasAntiguosNoCerrados">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="card-title">{{tem.titulo}} <span>*{{tem.etiqueta}}*</span></h4>
                                    </div>
                                    <div class="col">
                                        <div class="dropdown">
                                            <button type="button" class="boton2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div *ngIf="us.isUserAdminAndJefe()">
                                                    <a class="dropdown-item" (click)="cerrarTemas(tem.codTema)">Cerrar tema</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tem.info !== null">
                                    <p>{{tem.info}}</p>
                                </div>
                                <div *ngIf="tem.decision !== null">
                                    <hr>
                                    <b>Decisión:</b>
                                    <p>{{tem.decision}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <div *ngIf="!existeTarea">
                    <h3>Tareas</h3>
                    <p>No hay tareas para esta reunión.</p>
                </div>
                <div *ngIf="existeTarea">
                    <h3>Tareas</h3>
                    <br>
                    <div *ngFor="let tar of tareas">
                        <div *ngIf="tar.reunion.codReunion === codreunion || tar.reunion.codReunion < codreunion" class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="card-title">{{tar.titulo}}</h4>
                                    </div>
                                    <div *ngIf="us.isUserAdminAndJefe()" class="col">
                                        <div class="dropdown">
                                            <button type="button" class="boton2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" (click)="cerrarTareas(tar.codTarea)">Cerrar tarea</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <b>Detalles:</b>
                                    <p>{{tar.descripcion}}</p>
                                    <b>(Responsable/s)</b>
                                    <div *ngFor="let user of tar.usuarios">
                                        <p>- {{user.nombre}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div *ngIf="existeTareaAntigua">
                    <h4>Tareas antiguas NO cerradas</h4>
                    <br>
                    <div *ngFor="let tar of tareasAntiguasNoCerradas">
                        <div *ngIf="tar.reunion.codReunion === codreunion || tar.reunion.codReunion < codreunion" class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="card-title">{{tar.titulo}}</h4>
                                    </div>
                                    <div *ngIf="us.isUserAdminAndJefe()" class="col">
                                        <div class="dropdown">
                                            <button type="button" class="boton2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" (click)="cerrarTareas(tar.codTarea)">Cerrar tarea</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <b>Detalles:</b>
                                    <p>{{tar.descripcion}}</p>
                                    <b>(Responsable/s)</b>
                                    <div *ngFor="let user of tar.usuarios">
                                        <p>- {{user.nombre}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <h3>Conclusión Final</h3>
                <div class="form-group">
                    <label for="conclusion">Conclusión</label>
                    <textarea id="conclusion" name="conclusion" formControlName="conclusion" class="form-control" rows="10" placeholder="Escriba la conclusión final..."></textarea>
                    <div class="alert alert-danger" *ngIf="(conclusion.touched) && (conclusion.invalid)" style="margin-top: 5px;">
                        <span *ngIf="conclusion.errors.required">La conclusión es un campo requerido</span>
                        <span *ngIf="conclusion.errors.maxlength">
                        Longitud máxima de carácteres: {{conclusion.errors.maxlength.requiredLength}}
                        </span>
                    </div>
                </div>
                <button [disabled]="!nuevaActaForm.valid" type="submit" class="btn btn-success">Generar</button>
                <button type="button" [routerLink]="['/', 'reunion', codsreunion, codreunion]" class="btn btn-light">Cancelar</button>
            </form>
        </div>
    </div>
</div>
<div style="height: 30rem;"></div>