<div class="container formNuevaReunion">
    <h3 style="text-align: center;">Reunion para: {{serieReunion.equipo}} - {{serieReunion.nombre}}</h3>
    <br>
    <div class="card">
        <div class="card-body">
            <form #reunionform="ngForm" method="POST">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" class="form-control col-sm-3" id="fecha" name="fecha" [(ngModel)]="reunion.fecha" placeholder="Fecha..." disabled>
                        </div>
                        <div class="form-group">
                            <label for="participantes">Participantes</label>
                            <select multiple class="form-control col-sm-5" id="participantes" disabled>
                                <option *ngFor="let user of usuarios" value="{{user.codUsu}}">
                                    {{user.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col" *ngIf="us.isUserAdminAndJefe()">
                        <i class="far fa-envelope fa-2x sendAgenda" (click)="enviarAgenda()"></i>
                    </div>
                </div>
                <br>
            </form>
            <br>
            <button class="btn btn-success my-2 my-sm-0" (click)="submittedTrue()"><i class="fas fa-plus"></i> Adjuntar Archivo</button>
            <br>
            <br>
            <div *ngIf="adjuntar">
                <form [formGroup]="formArchivo" (ngSubmit)="enviarArchivo()" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input col-sm-3" id="archivos" formControlName="archivo" (change)="selectFile($event)">
                                    <label class="custom-file-label col-sm-3" for="archivos">Seleccione un archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button [disabled]="!formArchivo.valid" type="submit" class="btn btn-success boton">Adjuntar</button>
                </form>
            </div>
            <br>
            <div *ngIf="existeArchivo">
                <ol>
                    <li *ngFor="let arch of archivos">
                        <div class="row">
                            <div class="col-sm-4">
                                <a style="color: rgb(17, 0, 255);" (click)="ejecutarArchivo(arch.codArchivo, arch.nombre)">{{arch.nombre}}</a>
                            </div>
                            <div class="col">
                                <button type="button" class="boton2" (click)="borrarArchivo(arch.codArchivo)"><i class="fas fa-times x"></i></button>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<app-temas></app-temas>
<br>
<br>
<app-tareas></app-tareas>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" [routerLink]="['/', 'seriereunion', codsreunion]"><i class="fas fa-angle-left"></i> Volver</button>
        </div>
        <div class="col" *ngIf="us.isUserAdminAndJefe()">
            <button class="btn btn-primary my-2 my-sm-0" [routerLink]="['/', 'acta', codsreunion, codreunion]"><i class="fas fa-pencil-alt"></i> Generar Acta</button>
        </div>
    </div>
</div>
<div style="height: 20rem;"></div>