@media only screen and (max-width: 360px) {
    .formNuevaReunion {
        padding-top: 25%;
    }
}

.sendAgenda:hover {
    cursor: pointer;
}

.boton2 {
    background: transparent;
    border: none !important;
    position: relative;
    height: 30px;
    width: 40px;
}

.x {
    color: rgb(255, 0, 0);
}