<div class="container registrar">
    <div *ngIf="us.isUserAdmin()">
        <button title="Registrar nuevos usuarios" class="btn btn-outline-success my-2 my-sm-0" routerLink="/register" type="submit">Registrar <i class="fas fa-sign-out-alt"></i></button>
        <button title="Gestionar Usuarios de la aplicación" class="btn btn-outline-info" routerLink="/usuarios">Gestionar Usuarios <i class="fas fa-users"></i></button>
    </div>
</div>
<br><br>
<div class="container home">
    <h1>Bienvenid@, aqui tienes tus series de reuniones {{usuario.nombre}}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-9">
            <div class="form-group">
                <input type="search" class="form-control" name="filtro" autocomplete="off" placeholder="Buscar..." [(ngModel)]="filtroBusqueda">
            </div>
        </div>
        <div class="col" *ngIf="us.isUserAdminAndJefe()">
            <button title="Crear Nueva Serie Reunión" class="btn btn-success my-2 my-sm-0" routerLink="/addseriereunion" type="submit"><i class="fas fa-plus"></i> Crear nueva serie reunion</button>
        </div>
    </div>
    <br>
    <div *ngIf="serieReuniones.length == 0">
        <h3>Actualmente, no estás incluido en ninguna reunión {{usuario.nombre}}.</h3>
        <h4>Esperamos verte pronto de nuevo.</h4>
        <h4>Saludos.</h4>
    </div>
    <div *ngFor="let serie of serieReuniones | filter:filtroBusqueda">
        <div class="row">
            <div class="col-6">
                <div *ngIf="serie.cerrado == 0">
                    <a [routerLink]="['/', 'seriereunion', serie.codSReunion]" title="Acceder a la Serie Reunión seleccionada">
                        <h3>{{serie.equipo}} - {{serie.nombre}}</h3>
                        <hr>
                    </a>
                </div>
                <div *ngIf="serie.cerrado == 1">
                    <a [routerLink]="['/', 'seriereunion', serie.codSReunion]" title="Acceder a la Serie Reunión seleccionada">
                        <h3>{{serie.equipo}} - {{serie.nombre}} (CERRADA)</h3>
                        <hr>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 25rem;"></div>