<div class="container formNuevaSerieReunion">
    <form [formGroup]="newSerieReunionForm" (ngSubmit)="crearSerieReunion(newSerieReunionForm)" method="POST">
        <div class="form-group">
            <label for="equipo">Equipo</label>
            <input type="text" class="form-control" formControlName="equipo" id="correo" placeholder="Equipo...">
            <div class="alert alert-danger" *ngIf="(equipo.touched) && (equipo.invalid)" style="margin-top: 5px;">
                <span *ngIf="equipo.errors.required">El correo es un campo requerido</span>
                <span *ngIf="equipo.errors.minlength">
                    Longitud máxima del nombre del equipo: {{equipo.errors.minlength.requiredLength}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre...">
            <div class="alert alert-danger" *ngIf="(nombre.touched) && (nombre.invalid)" style="margin-top: 5px;">
                <span *ngIf="nombre.errors.required">El nombre es un campo requerido</span>
                <span *ngIf="nombre.errors.minlength">
                    Longitud máxima del nombre de usuario: {{nombre.errors.minlength.requiredLength}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="usuario">Asignar usuarios</label>
            <br>
            <select multiple class="form-control" id="usuario" formControlName="usuario">
                <option selected disabled></option>
                <option *ngFor="let user of usuarios" value="{{user.codUsu}}">
                    {{user.nombre}}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="(usuario.touched) && (usuario.invalid)" style="margin-top: 5px;">
                <span *ngIf="usuario.errors.required">Asignar al menos un participante.</span>
            </div>
        </div>
        <br>
        <button [disabled]="!newSerieReunionForm.valid" type="submit" class="btn btn-success">Añadir</button>
        <button type="button" class="btn btn-light" [routerLink]="['/', 'home']">Cancelar</button>
    </form>
</div>
<div style="height: 20rem;"></div>