<div class="container titleSerieReunion">
    <div class="row justify-content-center">
        <div class="col-sm-3"></div>
        <div class="col-6">
            <h3 style="text-align: center;">{{serieReunion.equipo}} - {{serieReunion.nombre}}</h3>
        </div>
        <div *ngIf="us.isUserAdminAndJefe()" class="col">
            <a [routerLink]="['/', 'modifseriereunion', serieReunion.codSReunion]"><i class="fas fa-cogs fa-2x"></i></a>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h3>Participantes de esta reunión</h3>
    <div *ngFor="let user of usuarios">
        {{user.nombre}} - {{user.rol}}
    </div>
</div>
<div class="container styleSerieReunion">
    <div class="row justify-content-center">
        <div class="col-sm-2"></div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary" (click)="verReuniones()">Reuniones</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary" (click)="verTemas()">Temas</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary" (click)="verTareas()">Tareas</button>
        </div>
    </div>
</div>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="form-group">
                <input type="search" class="form-control" name="filtro" autocomplete="off" placeholder="Buscar..." [(ngModel)]="filtroBusqueda">
            </div>
        </div>
        <div class="col" *ngIf="us.isUserAdminAndJefe()">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/', 'addreunion', serieReunion.codSReunion]"><i class="fas fa-plus"></i> Crear nueva reunion</button>
        </div>
    </div>
    <br>
    <div *ngIf="isReunion">
        <div *ngFor="let reu of reunion | filter:filtroBusqueda">
            <div class="card">
                <div class="card-body">
                    <a [routerLink]="['/', 'reunion', codsreunion, reu.codReunion]">{{reu.fecha}}</a>
                    <hr>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div *ngIf="isTema">
        <div *ngFor="let tem of temas | filter:filtroBusqueda">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="tem.cerrado === 1">
                        <span>{{tem.titulo}} <span class="label">*{{tem.etiqueta}}* </span> (CERRADO)</span>
                    </div>
                    <div *ngIf="tem.cerrado === 0">
                        <span>{{tem.titulo}} <span class="label">*{{tem.etiqueta}}*</span></span>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div *ngIf="isTareas">
        <div *ngFor="let tar of tareas | filter:filtroBusqueda">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="tar.cerrado === 1">
                        <span>{{tar.titulo}} (CERRADA)</span>
                    </div>
                    <div *ngIf="tar.cerrado === 0">
                        <span>{{tar.titulo}}</span>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" routerLink="/home"><i class="fas fa-angle-left"></i> Volver</button>
</div>

<div style="height: 20rem;"></div>