.boton {
    background-color: rgb(255, 79, 15);
    color: rgb(255, 255, 255);
}

.dropdown-toggle::after {
    content: none;
}

.elipse:hover {
    cursor: pointer;
}

.boton2 {
    background: transparent;
    border: none !important;
    position: relative;
    height: 30px;
    width: 40px;
}

.botonDec {
    background-color: rgb(158, 55, 17);
    color: rgb(255, 255, 255);
}

.botonTem {
    background-color: rgb(233, 84, 30);
    color: rgb(255, 255, 255);
}