.boton {
    background-color: rgb(255, 79, 15);
    color: rgb(255, 255, 255);
}

.dropdown-toggle::after {
    content: none;
}

.elipse:hover {
    cursor: pointer;
}

.boton2 {
    background: transparent;
    border: none !important;
    position: relative;
    height: 30px;
    width: 40px;
}

.angular-with-newlines {
    white-space: pre-wrap;
    margin-left: 10px;
}